body{
    background-image: linear-gradient(blue,red,purple);
}
h1{
    color:black;
}
table{
    margin-left: 3cm;
}
p1{
    margin-left: 3cm;
}
p{
    color: blanchedalmond;
}
a{
    color: blanchedalmond;
}